@model Emmas_Small_Engines.Models.Supplier

@{
    ViewData["Title"] = "New Supplier";
}

<div class="d-flex flex-row gap-2" style="margin-top:180px;">
    <div class="col-auto flex-grow-0">
        <h5 class="display-5">Suppliers</h5>
    </div>
    <div class=" col-auto flex-grow-1">
        <h5 class="d-inline display-5 text-muted">- Add New</h5>
    </div>
</div>
<hr class="mb-5 mt-0" />
<form asp-action="Create">
    <div class="container shadow pb-1 bg-light bg-gradient">
        <hr class="mb-4 mt-2 w-75 mx-auto" />
   
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <div class="row mb-3">
                <div class="col-md-10 mx-auto bg-light mb-5 py-3 rounded-3">
                    <div class="card shadow-lg border-bottom mx-auto" style="width: 300px;">
                        <div class="card-header fs-5 bg-primary text-white">
                            <i class="bi bi-buildings me-4" style="font-size: 2rem;"></i> New Supplier
                        </div>
                        <div class="card-body bg-light bg-gradient">
                            <ul class="list-group list-group-flush">
                                <li class="input-group mb-3">
                                    <span class=" input-group-text" id="nameHeading">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </span>
                                    <input asp-for="Name" class="form-control" aria-describedby="nameHeading" placeholder="eg. Emmas Supplier" />
                                    <span asp-validation-for="Name" class="text-danger"></span>

                                </li>
                                <li class="input-group mb-3">
                                    <span class="input-group-text" id="emailHeading">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </span>
                                    <input asp-for="Email" class="form-control" aria-describedby="emailHeading" placeholder="eg. testemail@yahoo.com"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                </li>
                                <li class="input-group mb-3">

                                    <span class=" input-group-text" id="phoneHeading">
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </span>
                                    <input asp-for="Phone" class="form-control" placeholder="eg. 1234567890"/>
                                    <span asp-validation-for="Phone" class="text-danger"></span>

                                </li>

                                <li class="input-group  mb-3">
                                    <span class="  input-group-text" id="addInput">
                                        @Html.DisplayNameFor(model => model.Address)
                                    </span>
                                    <input asp-for="Address" class="form-control" placeholder="eg. 8 Clair Drive."/>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </li>
                                <li class="input-group  mb-3">
                                    

                                    <span class=" input-group-text" id="cityInput">
                                        @Html.DisplayNameFor(model => model.City)
                                    </span>
                                    <input asp-for="City" class="form-control" placeholder="eg. St. Catharines" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </li>
                                <li class="input-group  mb-3">
                                    <span class=" input-group-text" id="provInput">
                                        @Html.DisplayNameFor(model => model.Province)
                                    </span>
                                    <select asp-for="Province" class="form-select" aria-described-by="provInput">
                                        <option disabled selected>--Select Province--</option>
                                        <option value="Ontario">Ontario</option>
                                        <option value="Alberta">Alberta</option>
                                        <option value="British Columbia">British Columbia</option>
                                        <option value="Manitoba">Manitoba</option>
                                        <option value="New Brunswick">New Brunswick</option>
                                        <option value="Newfoundland & Labrador">Newfoundland & Labrador</option>
                                        <option value="Northwest Territories">Northwest Territories</option>
                                        <option value="Nova Scotia">Nova Scotia</option>
                                        <option value="Nunavut">Nunavut</option>
                                        <option value="PEI">PEI</option>
                                        <option value="Quebec">Quebec</option>
                                        <option value="Saskatchewan">Saskatchewan</option>
                                        <option value="Yukon">Yukon</option>
                                    </select>
                                
                                    <span asp-validation-for="Province" class="text-danger"></span>
                                </li>
                                <li class="input-group  mb-3">
                                    <span class=" input-group-text" id="postalInput">
                                        @Html.DisplayNameFor(model => model.Postal)
                                    </span>
                                    <input asp-for="Postal" class="form-control" placeholder="eg. L2S4T2"/>
                                    <span asp-validation-for="Postal" class="text-danger"></span>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <hr class="mb-4 mt-0 w-75 mx-auto" />
                <div class="row flex-row justify-content-center gap-3">
                    <div class="col-auto">
                        
                        <input type="submit" value="Add Supplier" class="btn btn-outline-success" />

                    </div>
                    <div class="col-auto">
                        <a asp-action="Index" class="btn btn-outline-danger">Cancel</a>
                    </div>

                </div>


            </div>
    


    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        
    </script>
}
