@model Emmas_Small_Engines.Models.SalesReport

@{
    Layout = null;
    ViewData["Title"] = "Sales Report";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Emma's Small Engines</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Emmas_Small_Engines.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="pt-2 ps-3" style="position: fixed">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <a href='@ViewData["returnURL"]' class="btn btn-primary">Back to Reports List</a>
            <input type="submit" value="Discard Report" class="btn btn-danger" />
        </form>
    </div>

    <div class="page-format p-5">
        <div class="d-flex justify-content-between" style="padding-bottom: 16px; margin-bottom: 24px; border-bottom: 3px solid #bdbdbd;">
            <div style="display: flex; align-items: center;">
                <img src="~/logo_receipt.png" style="border-radius: 50%; margin: 20px; width: 60px; height: 60px" alt="">
                <h2>Emma's Small Engine</h2>
            </div>

            <div>
                <div style="display: flex; flex-direction: column">
                    <div style="height: 40px; position: relative">
                        <div style="height: 20px; background-color: #3D4856; position: absolute; left: 15px; right: 0; top: -15px; z-index: 2;"></div>
                        <p style="color: black; height: 40px; padding-left: 10px; background-color: #CAA007; position: absolute; left: 0; right: -100px; z-index: 3;">
                            Sales Report
                        </p>
                        <div style="height: 22px; width: 17px; background-color: black; position: absolute; left: 6px; top: -13px; transform: rotate(45deg);"></div>
                    </div>
                </div>
                <div class="position-relative">
                    <p style="margin-bottom: 0;"><small>@Html.Raw(Model.StartDate.ToString("dddd, MMMM dd, yyyy"))</small></p>
                    <p style="margin-bottom: 0;"><small>@Html.Raw(Model.EndDate.ToString("dddd, MMMM dd, yyyy"))</small></p>
                </div>
            </div>
        </div>

        <!-- Payment Type Summary -->
        <div class="text-primary" style="margin-bottom: 16px;"><strong>Payment Type Summary</strong></div>
        <table class="table table-sm table-responsive table-hover table-striped thead-dark table-borderless" style="border-bottom: 2px solid #CAA007;">
            <tbody style="border-bottom: 1pt solid #bdbdbd">
                <tr>
                    <td class="col-sm-9">
                        @Html.DisplayNameFor(modelItem => Model.Cash)
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        @Html.DisplayFor(modelItem => Model.Cash)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-9">
                        @Html.DisplayNameFor(modelItem => Model.Debit)
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        @Html.DisplayFor(modelItem => Model.Debit)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-9">
                        @Html.DisplayNameFor(modelItem => Model.Credit)
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        @Html.DisplayFor(modelItem => Model.Credit)
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-9">
                        @Html.DisplayNameFor(modelItem => Model.Cheque)
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        @Html.DisplayFor(modelItem => Model.Cheque)
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="border:none">
                    <td class="col-sm-9">
                        <strong>Total Payments</strong>
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        <strong>@Html.DisplayFor(modelItem => Model.paymentTotal)</strong>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- Tax Summary -->
        <div class="text-primary" style="margin-bottom: 16px; margin-top: 0px;"><strong>Tax Summary</strong></div>
        <table class="table table-sm table-responsive table-hover table-striped thead-dark table-borderless" style="border-bottom: 2px solid #CAA007;">
            <tbody style="border-bottom: 1pt solid #bdbdbd">
                <tr>
                    <td class="col-sm-9">
                        @Html.DisplayNameFor(modelItem => Model.SaleTax)
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        @Html.Raw((Model.paymentTotal * 0.13).ToString("C2"))
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-9">
                        @Html.DisplayNameFor(modelItem => Model.OtherTax)
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        @Html.DisplayFor(modelItem => Model.OtherTax)
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="border:none">
                    <td class="col-sm-9">
                        <strong>@Html.DisplayNameFor(modelItem => Model.TotalTax)</strong>
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        <strong>@Html.Raw((Model.paymentTotal * 0.13).ToString("C2"))</strong>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- Employee Summary -->
        <div class="text-primary" style="margin-bottom: 16px; margin-top: 0px;"><strong>Employee Summary</strong></div>
        <table class="table table-sm table-responsive table-hover table-striped thead-dark table-borderless" style="border-bottom: 2px solid #CAA007;">
            @{
                double totalEmpSales = 0d;
            }
            <tbody style="border-bottom: 1pt solid #bdbdbd">
                @foreach (var item in Model.SalesReportEmps.OrderBy(e => e.EmpName))
                {
                    <tr>
                        <td class="col-sm-9">
                            @Html.DisplayFor(modelItem => item.EmpName)
                        </td>
                        <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                            @Html.DisplayFor(modelItem => item.EmpSales)
                            @{
                                totalEmpSales += item.EmpSales;
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="border:none">
                    <td class="col-sm-9">
                        <strong>Total Employee Sales</strong>
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        <strong>@Html.Raw((totalEmpSales).ToString("C2"))</strong>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- Items Summary -->
        <div class="text-primary" style="margin-bottom: 0px; margin-top: 0px;"><strong>Item Summary</strong></div>
        <table class="table table-sm table-responsive table-hover table-striped thead-dark table-borderless" style="font-size: 12px; border-bottom: 2px solid #CAA007;">
            <thead class="text-center" style="background: white">
                <tr>
                    <th class="col-sm-6">
                    </th>
                    <th class="col-sm-2">
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SalesReportItems.FirstOrDefault().ItemQuantity)
                    </th>
                    <th class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SalesReportItems.FirstOrDefault().ItemTotal)
                        @{
                            double totalItemSales = 0d;
                        }
                    </th>
                </tr>
            </thead>
            <tbody style="border-bottom: 1pt solid #bdbdbd">
                @foreach (var item in Model.SalesReportItems.OrderBy(i => i.ItemName))
                {
                    <tr>
                        <td class="col-sm-6">
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td class="col-sm-2">
                        </td>
                        <td class="col-sm-2" align="center">
                            @Html.Raw((item.ItemQuantity).ToString("N0"))
                        </td>
                        <td class="col-sm-2" align="right" style="border:none; padding-right: 2rem;">
                            @Html.Raw((item.ItemTotal).ToString("C2"))
                            @{
                                totalItemSales += item.ItemTotal;
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="border:none; font-size: 16px;">
                    <td class="col-sm-6">
                        <strong>Total Item Sales</strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td class="col-sm-2" align="right" style="border:none; padding-right: 2rem;">
                        <strong>@Html.Raw((totalItemSales).ToString("C2"))</strong>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- Appreciation Summary -->
        <div class="text-primary" style="margin-bottom: 16px; margin-top: 0px;"><strong>Appreciation</strong></div>
        <table class="table table-sm table-responsive table-hover table-striped thead-dark table-borderless" style="border-bottom: 2px solid #CAA007;">
            <tbody style="border-bottom: 1pt solid #bdbdbd">
                <!--
                <tr>
                    <td class="col-sm-9">
                        Appreciation Earned
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        Html.Raw((0).ToString("C2"))
                    </td>
                </tr>
                -->
            </tbody>
            <tfoot>
                <tr style="border:none">
                    <td class="col-sm-9">
                        <strong>Appreciation Earned</strong>
                    </td>
                    <td class="col-sm-3" align="right" style="border:none; padding-right: 2rem;">
                        <strong>@Html.DisplayFor(modelItem => Model.AppreciationTotal)</strong>
                    </td>
                </tr>
            </tfoot>
        </table>

        <hr />
        <p class="text-center">
            Report generated at @Html.Raw(Model.TimeStamp.ToString("yyyy-MMMM-dd hh:mm tt"))
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


