@model Emmas_Small_Engines.Models.HourlyReport

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Are you sure you want to delete the Report: <strong>"@Html.DisplayFor(model => model.hourName)"</strong> ?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hrepCriteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hrepCriteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowVersion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href='@ViewData["returnURL"]' class="btn btn-primary">Back to Reports List</a>
    </form>
</div>
